/* Basic reset for margins/paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .full-img {
    position: relative;
    width: 60%;
    margin: 20px auto;
  }
  
  .displayed-img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
    transition: background-color 0.3s;
  }
  
  button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .thumb-bar {
    margin: 20px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .thumb-bar img {
    width: 20%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  
  .thumb-bar img:hover {
    border: 2px solid #ccc;
  }
  